<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MusicLink</title>
        <link rel="stylesheet" href="./../assets/styles/songs.css">
    </head>

    <body>
        <ul>
            <li><a href="./../../index.html">Inicio</a></li>
            <li><a href="./songs.html">Canciones</a></li>
            <li><a href="./us.html">¿Quiénes somos?</a></li>
        </ul>
        <h3 class="logo">MusicLink</h3>
        <h1 class="title"> Recomendaciones de Todo el Mundo </h1>





        <div class="row">
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/pausa.jpeg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Pausa</h3>
                    <p>Artista: Parafraseo</p>
                    <p>Género: Pop-Reggae</p>
                    <p>Duración: 3:51</p>
                    <p>Año: 2021</p>
                </div>
            </div>
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/despedida.jpeg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Despedida</h3>
                    <p>Artista: Guillem Roma</p>
                    <p>Género: Pop Acúsitco</p>
                    <p>Duración: 3:33</p>
                    <p>Año: 2019</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/losimple.jpeg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Lo Simple</h3>
                    <p>Artista: El Árbol de Diego</p>
                    <p>Género: Pop Folclórico</p>
                    <p>Duración: 3:12</p>
                    <p>Año: 2022</p>
                </div>
            </div>
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/Juanitalachismosa.jpeg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Juanita la Chismosa</h3>
                    <p>Artista: El Caribefunk</p>
                    <p>Género: Salsa</p>
                    <p>Duración: 4:58</p>
                    <p>Año: 2015</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/vestidadelino.jpeg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Vestida de Lino</h3>
                    <p>Artista: Fuera de Línea</p>
                    <p>Género: Flamenco</p>
                    <p>Duración: 3:47</p>
                    <p>Año: 2022</p>
                </div>
            </div>
            <div class="column">
                <div class="cover">
                    <img src="./../assets/imgs/simbolodefe.jpg" alt="Cover">
                </div>
                <div class="info">
                    <h3>Símbolo de Fe</h3>
                    <p>Artista: Soy Irracional</p>
                    <p>Género: Urbano</p>
                    <p>Duración: 3:36</p>
                    <p>Año: 2018</p>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <p>MusicLink 2023</p>
    </footer>

