<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MusicLink</title>
        <link rel="stylesheet" href="./../assets/styles/us.css">
    </head>

    <body>
        <ul>
            <li><a href="./../../index.html">Inicio</a></li>
            <li><a href="./songs.html">Canciones</a></li>
            <li><a href="./us.html">¿Quiénes somos?</a></li>
        </ul>
        <h1 class="logo">MusicLink</h1>

        <div class="center">
            <p>
                Somos una plataforma dedicada a impulsar a artistas desconocidos por medio de recomendaciones de gente
                que le gusta compartir su música. En el mundo está lleno de artistas talentosos que no tienen los medios
                para promocionarse, y nosotros queremos ayudarlos a que su música llegue a más personas. Ayúdanos sumándote
                a nuestra comunidad y compartiendo tus recomendaciones. Ayúda a ese artista que te regaló esa música que
                tanto te gusta.
            </p>
        </div>

    </body>

    <footer>
        <p>MusicLink 2023</p>
    </footer>